<section class="section bg-secondary">
  <div class="container">
    <div class="row row-grid align-items-center">
      <div class="col-md-6">
        <div class="card bg-default shadow border-0">
          <img src="./assets/img/theme/designsystem3.png" class="card-img-top">
          <blockquote class="card-blockquote">
            <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
              <polygon points="0,52 583,95 0,95" class="fill-default" />
              <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default" />
            </svg>
            <h4 class="display-3 font-weight-bold text-white">Our Mission &amp; Vision</h4>
            <p class="lead text-italic text-white">Our mission is to bring together leaders, experts, and emerging
              voices from across every field of medicine and healthcare to share groundbreaking research, explore
              emerging technologies, and address the most pressing health challenges of our time. We aim to inspire
              collaboration across borders and disciplines, promote excellence in patient care, and advance global
              health equity through knowledge exchange and innovation.<br>

              Our vision is to create a globally connected medical community that drives innovation, fosters
              collaboration, and leads transformative change for a healthier, more equitable world.</p>
          </blockquote>
        </div>
      </div>
      <div class="col-md-6">
        <!-- <div class="pl-md-5">
            <h3>Core Principles</h3>
            <p class="lead">Our design system is anchored in three core principles:</p>
            <p style="font-size: 1.2rem;"><strong>User-Centric Design:</strong><br>
              We prioritize the needs and preferences of our users, ensuring that every interaction is intuitive and
              accessible, regardless of their background or abilities.</p>
            <p style="font-size: 1.2rem;"><strong>Consistency and Clarity:</strong> <br>
              A unified visual language is critical for brand recognition and user confidence. We enforce consistent
              design patterns and components across all platforms to enhance clarity and ease of use.</p>
            <p style="font-size: 1.2rem;"><strong>Scalability and Flexibility:</strong> <br>
              Our design system is adaptable, allowing for the incorporation of new features and improvements without
              compromising the integrity of our existing platforms. This principle ensures that as we grow, our design
              remains cohesive and effective.</p>
            <p style="font-size: 1.2rem;"><strong>Collaboration:</strong> <br>
              Our design system encourages collaboration across teams, fostering a shared understanding of design
              principles and practices. By providing clear guidelines and resources, we empower our teams to innovate
              while maintaining alignment with our overarching goals.</p>
          </div> -->
        <div class="pl-md-5">
          <h3>Welcome Message</h3>

          <p style="font-size: 1.2rem;">
            Dear Colleagues, Friends, Sponsors and Exhibitors,
          </p>

          <p style="font-size: 1.2rem;">
            On behalf of the Organizing Committee, it is my great pleasure and honor to extend to you a warm invitation
            to attend <strong>IRA Global Events</strong>.
          </p>

          <p style="font-size: 1.2rem;">
            IRA Global Events has become the premier platform not only for the presentation of new science and
            application, but also for unique networking opportunities. Building on the success of previous conferences,
            the upcoming events will be a great international gathering of researchers and scientists in the field of
            Research & Development.
          </p>

          <p style="font-size: 1.2rem;">
            With delegates from more than 30 countries attending, this conference will provide the ideal forum to
            discuss the latest findings, put them into context, and understand how they affect your practice day to day.
          </p>

          <p style="font-size: 1.2rem;">
            We encourage researchers, experts, engineers, scientists, and business professionals in the renewable energy
            field and those interested in sustainable development to attend this conference. It is only through an
            exchange of the widest variety of research that we can offer the best program and benefits to our members
            and the environment.
          </p>

          <p style="font-size: 1.2rem;">
            The <strong>IRA Global Events</strong> program will be both exciting and ground-breaking in its wide-ranging
            and multidisciplinary content. In addition to traditional abstract presentations and keynote lectures by
            world-renowned invited speakers, we will be offering workshops, interactive sessions, as well as several
            exhibitors.
          </p>

          <p style="font-size: 1.2rem;">
            In association with IRA Global Events, we invite you all to our international events. We hope the
            deliberations from various distinguished speakers will benefit participants in updating their knowledge. I
            extend my best wishes for the great success of the conference.
          </p>
        </div>

      </div>
    </div>
  </div>
</section>