<section class="section section-lg section-nucleo-icons pb-250">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="display-3" style="text-decoration: underline;">Medical & Clinical Conferences Research Area</h2>
        <p class="lead">
          The Medical & Clinical Conferences Research Area focuses on fostering collaboration, innovation, and the
          exchange of groundbreaking ideas across the global medical community. These conferences serve as a dynamic
          platform for researchers, clinicians, healthcare professionals, and industry experts to present their
          findings, discuss clinical practices, and explore emerging trends in medicine and healthcare.

          From advancements in diagnostics and therapeutics to breakthroughs in patient care and clinical trials, this
          research area drives progress in diverse fields such as oncology, cardiology, neuroscience, infectious
          diseases, biomedical engineering, and more. Participating in these conferences not only enhances professional
          knowledge but also catalyzes impactful medical discoveries and fosters interdisciplinary partnerships.
        </p>
      </div>
    </div>
    <div>
      <div class="icon-orbit">
        <div class="center-icon">
          <lucide-icon name="dna"></lucide-icon>
        </div>
        <div class="orbit-icon" *ngFor="let icon of orbitIcons; let i = index" [style.--i]="i"
          [style.--total]="orbitIcons.length">
          <lucide-icon [name]="icon"></lucide-icon>
        </div>
      </div>
    </div>
  </div>
</section>