<section class="section section-shaped">
    <div class="shape shape-style-1 shape-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container py-md">
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-5 mb-5 mb-lg-0">
          <h1 class="text-white font-weight-light">Memorable Moments from Past Events</h1>
          <p class="lead text-white mt-4">Conferences can be full of memorable moments, whether it&#39;s from a powerful
            keynote speech, a surprising interaction with a fellow attendee, or an unexpected
            insight that sparks new ideas. Memorable moments you can experience at our
            conferences:
            The Keynote Speech That Moves You, Unexpected Networking Connections,
            Breakthrough Ideas During Sessions, Interactive Workshops or Hands-On
            Learning,
            Unexpected Revelations in Panel Discussions, The “Aha!” Moment from Q&amp;A
            Sessions, Serendipitous Encounters, A Surprise Guest or Speaker, Announcing
            Big Projects or Collaborations.</p>
        </div>
        <div class="col-lg-6 mb-lg-auto">
          <div class="rounded shadow-lg overflow-hidden transform-perspective-right bootstrap-slider">
            <ngb-carousel>
              <ng-template ngbSlide>
                <img class="img-fluid" src="assets/img/theme/05.jpg" alt="Second slide">
              </ng-template>
              <ng-template ngbSlide>
                <img class="img-fluid" src="assets/img/theme/01.jpg" alt="First slide">
              </ng-template>
              <ng-template ngbSlide>
                <img class="img-fluid" src="assets/img/theme/02.webp" alt="Second slide">
              </ng-template>
            </ngb-carousel>
          </div>
        </div>
      </div>
    </div>
  </section>